# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media
staticfiles

# Env files
.env
.env.*

# Virtual environments
venv/
.Venv/
.venv/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Ignore deployment guide if the file is local only
DEPLOYMENT.md

#Extra
DEPLOYMENT.md